<div class="col-md-6 submission-container">
  <h2 style="margin: auto"> Lightning Talk Submissions</h2>
   <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">id</th>
      <th>topic</th>
      <th>description</th>
      <th>email</th>
      <th>created</th>
      <th>targetTalk</th>
      <th>approved</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let submission of submissions">
      <td class="hidden">{{submission.id}}</td>
      <td>{{submission.topic}}</td>
      <td>{{submission.description}}</td>
      <td>{{submission.email}}</td>
      <td>{{submission.created | date:'EEEE MMM d, y, h:mm a'}}</td>
      <td>{{submission.targetLightningTalkDate | date:'EEEE MMM d, y'}}</td>
      <td>{{submission.approved}}</td>
      <td> <mat-icon ng-if="$submission?.approved" svgIcon="lightning" > </mat-icon>    </td>
     <td>
        <button mat-raised-button color="primary" (click)="approveSubmission(submission);" 
        class="btn-w-md" [disabled]="submission?.approved == true">Approve</button>
      </td>
     </tr>
    </tbody>
  </table>
</div>
