
.submission-container {
    display: flex;
    flex-direction: column;
    margin: auto;
  };

.material-icons {
  vertical-align: middle !important;
  padding-bottom: 3px;
 }
.lightning-icon svg {
  fill: gold;
}
table {
  width: 100%;
}
