<div class="col-md-6 proposal-container">
  <mat-card>     
      <mat-card-title>    
          Add a Lightning Talk Proposal  
      </mat-card-title>    

  <mat-card-content>   
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="hidden">
      <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" hidden="true" id="id">
    </div>
    <div class="form-group">
      <label for="topic">Topic:</label>
      <input type="text" formControlName="topic" placeholder="topic" name="topic" class="form-control" id="topic">
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <input formControlName="description" placeholder="description" name="description" class="form-control" id="description">
    </div>

    <div class="form-group">
      <label for="email">Email Address:</label>
      <input formControlName="email" placeholder="Email" name="email" class="form-control" id="email">
    </div>
    <button class="btn btn-success">Add</button>
  </form>
  </mat-card-content>
  </mat-card>

</div>
