<div class="col-md-6 proposal-container">
  <mat-card>     
      <mat-card-title>    
          Add a Lightning Talk Proposal  
      </mat-card-title>    

  <mat-card-content>   
  <form [formGroup]="addForm" autocomplete="off" novalidate (ngSubmit)="onSubmit();" >
    <div class="hidden">
      <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" hidden="true" id="id">
    </div>
    <table>    
        <tr>    
            <td>    
                <mat-form-field class="form-group">    
                    <input matInput formControlName="topic" id="topic" placeholder="Topic:"  type="text" >  
                    <mat-hint>Not more then 80 characters long.</mat-hint>
                    <mat-error *ngIf="addForm.controls['topic'].errors?.required">Topic is required</mat-error> 
                    <mat-error *ngIf="addForm.controls['topic'].errors?.maxlength">You have more than 80 characters</mat-error>
                    <mat-error *ngIf="addForm.controls['topic'].errors?.minlength">You should have more than 3 characters</mat-error> 
                </mat-form-field>    
            </td>    
        </tr>
        <tr>    
            <td>    
                <mat-form-field class="form-group" style="width: 320px;">    
                    <textarea matInput formControlName="description" id="description" placeholder="Description:"
                     matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" ></textarea>    
                    <mat-hint>Not more then 120 characters long.</mat-hint>
                    <mat-error *ngIf="addForm.controls['description'].errors?.required">Description is required</mat-error>
                    <mat-error *ngIf="addForm.controls['description'].errors?.maxlength">You have more than 120 characters</mat-error>
                    <mat-error *ngIf="addForm.controls['description'].errors?.minlength">You should have more than 3 characters</mat-error> 
               </mat-form-field>    
            </td>  
        </tr> 
        <tr>    
            <td> 
                <mat-form-field class="form-group">    
                    <input matInput formControlName="email" placeholder="Email Address:" type="text" id="email">   
                    <mat-error *ngIf="addForm.controls['email'].errors?.email">You should have a valid email address</mat-error> 
                </mat-form-field>    
            </td>    
        </tr> 
      </table>
 
    <button mat-raised-button color="primary" style="margin: 10px; width:100px">Add </button>
  </form>
  </mat-card-content>
  </mat-card>

</div>
