<div class="col-md-6 proposal-container">
  <h2 style="margin: auto"> Lightning Talk Proposals</h2>
  <button class="btn btn-danger" style="width:100px" (click)="addProposal()"> Add Topic Proposal</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">id</th>
      <th>topic</th>
      <th>description</th>
      <th>email</th>
      <th>submitted</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let proposal of proposals">
      <td class="hidden">{{proposal.id}}</td>
      <td>{{proposal.topic}}</td>
      <td>{{proposal.description}}</td>
      <td>{{proposal.email}}</td>
      <td>{{proposal.submitted}}</td>
      <td><button class="btn btn-success" (click)="deleteProposal(proposal)"> Delete</button>
        <button class="btn btn-success" (click)="editProposal(proposal)" style="margin-left: 20px;"> Edit</button>
        <button class="btn btn-success" (click)="submitProposal(proposal)" style="margin-left: 20px;"> Submit</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
