<div class="col-md-6 proposal-container">
  <mat-card>     
      <mat-card-title>    
          Draft Proposals 
          <button mat-icon-button color="primary" (click)="addProposal();" >
            <mat-icon aria-label="Add" class="material-icons" style="font-size: 40px; display: inline-flex;
            vertical-align: middle; padding-bottom: 5px;" >add_circle</mat-icon>
         </button>
     </mat-card-title>    
 
  <mat-card-content >   
  <div class="mat-elevation-z8" *ngIf="!noData">  
  <table mat-table [dataSource]="dataSource"  >

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let tcol"> {{tcol.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="topic">
      <th mat-header-cell *matHeaderCellDef> Topic </th>
      <td mat-cell *matCellDef="let tcol"> {{tcol.topic}} </td>
    </ng-container>
  
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let tcol"> {{tcol.description}} </td>
    </ng-container>
  
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let tcol"> {{tcol.email}} </td>
    </ng-container>
    
    <ng-container matColumnDef="submitted">
      <th mat-header-cell *matHeaderCellDef> Submitted </th>
      <td mat-cell *matCellDef="let tcol"> {{tcol.submitted}} </td>
    </ng-container>

    <ng-container matColumnDef="deleteBtn">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let tcol"> 
        <button mat-icon-button color="primary" (click)="deleteProposal(tcol);" >
            <mat-icon aria-label="Delete">delete</mat-icon>
         </button>
      </td>
 
    </ng-container>

    <ng-container matColumnDef="editBtn">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let tcol"> 
        <button mat-icon-button color="primary" (click)="editProposal(tcol);" >
            <mat-icon aria-label="Edit">edit</mat-icon>
         </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="submitBtn">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let tcol"> 
      <button mat-raised-button color="primary" (click)="submitProposal(tcol);" class="btn-w-md"  [disabled]="tcol.submitted == true">Submit</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons ></mat-paginator>
 </div>

  <div *ngIf="noData" class="no-records">
    Click  <mat-icon class="material-icons" style="font-size: 20px; display: inline-flex;
    vertical-align: middle; padding-bottom: 0px;" >add_circle</mat-icon> to begin a new proposal.
  </div>
</mat-card-content>
<ltk-alert></ltk-alert>
</mat-card>
</div>
